<div *ngIf="!loggedIn">
  <h1 class="text-center mt-4">Please Login.</h1>
</div>
<div *ngIf="loggedIn">
  <h1 class="mt-4 text-center">Preferences</h1>
  <h3 class="mt-4 text-center">Welcome, {{ name }}.</h3>
  <div class="text-center mt-4">
    <img class="mb-4" src="../../assets/images/logocut.png" alt="" width="100" height="100">
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6" *ngIf="!emailResponse">
        <form (submit)="changeEmail(emailForm)" #emailForm="ngForm" class="form-signin" style="text-align: center; margin-top: 2%">
          <h4 class="h4 mb-3 font-weight-normal">Change email</h4>
          <label for="newEmail" class="sr-only">New email</label>
          <input #emailInput="ngModel" name="newemail" ngModel type="email" id="inputEmail" class="form-control" placeholder="New email address" required autofocus>
          <label for="inputPassword" class="sr-only">Password</label>
          <input #passwordInput="ngModel" name="password" ngModel type="password" id="inputPassword" class="form-control" placeholder="Password" required>
          <button class="btn btn-lg btn-outline-primary btn-block" type="submit">Change</button>
        </form>
      </div>
      <div *ngIf="emailResponse" class="col-md-6">
        <h4 class="text-center">Email changed successfully.</h4>
      </div>
      <div *ngIf="emailFail" class="col-md-6">
        <h4 class="text-center">Could not change email.</h4>
      </div>
      <form (submit)="changeUsername(usernameForm)" #usernameForm="ngForm" class="form-signin" style="text-align: center; margin-top: 2%">
        <h4 class="h4 mb-3 font-weight-normal">Change username</h4>
        <label for="newUsername" class="sr-only">New username</label>
        <input #usernameInput="ngModel" name="newusername" ngModel type="username" id="inputUsername" class="form-control" placeholder="New username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input #passwordInput="ngModel" name="password" ngModel type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-outline-primary btn-block" type="submit">Change</button>
      </form>
    </div>
    <div *ngIf="usernameResponse" class="col-md-6">
      <h4 class="text-center">Username changed successfully.</h4>
    </div>
    <div *ngIf="usernameFail" class="col-md-6">
      <h4 class="text-center">Could not change username.</h4>
    </div>
    <div class="row">
      <div *ngIf="!passwordResponse" class="col-md-6">
        <h4 class="text-center">{{ error }}</h4>
        <form (submit)="changePassword(passwordForm)" #passwordForm="ngForm" class="form-signin" style="text-align: center; margin-top: 2%">
          <h4 class="h4 mb-3 font-weight-normal">Change password</h4>
          <label for="inputPassword" class="sr-only">Old Password</label>
          <input #passwordInput="ngModel" name="oldpassword" ngModel type="password" id="inputPassword" class="form-control" placeholder="Old Password" required>
          <label for="newPassword" class="sr-only">New Password</label>
          <input #passwordInput="ngModel" name="newpassword" ngModel type="password" id="inputPassword" class="form-control mt-2" placeholder="New Password" required>
          <label for="confirmPassword" class="sr-only">Confirm New Password</label>
          <input #passwordInput="ngModel" name="newpassword2" ngModel type="password" id="inputPassword" class="form-control" placeholder="Confirm New Password" required>
          <button class="btn btn-lg btn-outline-primary btn-block" type="submit">Change</button>
        </form>
      </div>
      <div *ngIf="passwordResponse" class="col-md-6">
        <h4 class="text-center">Password changed successfully.</h4>
      </div>
      <div *ngIf="passwordFail" class="col-md-6">
        <h4 class="text-center">Could not change password.</h4>
      </div>
      <div *ngIf="!currencyResponse" class="col-md-6">
        <h4 class="text-center">{{ error }}</h4>
        <form (submit)="changeCurrency(currencyForm)" #currencyForm="ngForm" class="form-signin" style="text-align: center; margin-top: 2%">
          <h4 class="h4 mb-3 font-weight-normal">Change Default Currency</h4>
          Current default currency - {{defaultCurrency}}<br>
          <select id="selectedcurr" class="mt-3 mb-3" required name="selectedcurr" [(ngModel)]="selectedcurr">
            <option *ngFor="let each of currencyList; let i = index" value={{each}}>
              {{each}} - {{currencyNames[i].currencyName}}
            </option>
          </select>
          <button class="btn btn-lg btn-outline-primary btn-block" type="submit">Change</button>
        </form>
      </div>
      <div *ngIf="currencyResponse" class="col-md-6">
        <h4 class="text-center mt-5">Default currency changed successfully.</h4>
      </div>
      <div *ngIf="currencyFail" class="col-md-6">
        <h4 class="text-center mt-5">Could not change default currency.</h4>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isAdmin" class="col-md-6 ml-4">
  <h3>User List</h3>
  <table class="table table-dark mt-2">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Account</th>
    </tr>
    </thead>
    <tbody *ngFor="let each of array"
           (click)="deleteUser(each[0].email)" >
    <tr class="rows">
      <th scope="row">{{ each[0].name }}</th>
      <td>{{ each[0].email }}</td>
      <td><button class="btn btn-danger">Delete</button></td>
    </tr>
    </tbody>
  </table>
</div>
