<div style="border-radius: 10px; border-color: grey; border-width: 2px; border-style: solid" class="text-center mb-5 mt-5 ml-2 mr-2">
  <h3 style="color: black" class="mt-5">{{stock.symbol}}  |  {{ stock.companyName }}</h3>
  <h4 class="mt-5">Current price</h4>
  <h4 class="mt-2 mb-5" style="color: green">${{stock.delayedPrice}}</h4>

  <button (click)="addToFollowing()" class="btn btn-warning">Add to Following List</button>
  <h5 class="text-center ml-3 mt-3" *ngIf="followingResponse">Stock followed successfully.</h5>
  
  <div *ngIf="!selected">
    <button (click)="onSelected()" class="btn btn-primary mt-4 mb-2 ">Edit portfolio count</button>
  </div>
  
  <div *ngIf="selected && !portfolioResponse">
      <h6 class="mt-2">Edit number of shares</h6>
      <div>
        <input class="mt-2 mb-2" [(ngModel)]="shares">
        <button (click)="updatePortfolio()" class="btn btn-primary ml-2 mt-2 mb-3">Update</button>
      </div>
  </div>
  
  <h5 class="text-center mt-3 mb-2" *ngIf="portfolioResponse">Information updated.</h5>
	
	  <button *ngIf="!removeResponse" (click)="removeFromPortfolio()" class="btn btn-primary mb-5">Remove From Portfolio</button>
	  <h4 *ngIf="removeResponse" class="text-center">Stock removed from portfolio.</h4>

</div>