<div style="margin-top: 3vh; text-align: center">
    <h6 class="mt-5" style="color: red">Welcome, {{name}}</h6>
    <img src="assets/images/logo_transparent.png" height="450px" style="margin-bottom: -50px"/>
    <h5 style="color: #306576; margin-bottom: 4%">All your finance, in one place.</h5>
    <a routerLink="/stocks"><button class="btn btn-outline-primary" style="margin: 1%" >Stocks</button></a>
    <a routerLink="/dashboard"><button class="btn btn-outline-danger" style="margin: 1%">Dashboard</button></a>
    <a routerLink="/preferences"><button class="btn btn-outline-warning" style="margin: 1%">Preferences</button></a>
  </div>