<h1 class="mt-4 text-center">Foreign Exchange</h1>

<div *ngIf="marketStatus == 'open'" style="color:green; font-size: 20px" class="text-center mt-4">
    The forex market is currently open
      </div>
    
      <div *ngIf="marketStatus == 'closed'" style="color:red; font-size: 40px">
          The forex market is currently closed
        </div>
<div class="text-center mt-4" *ngIf="loaded == 1">
    
  Your default currency is {{ defaultCurrency }}
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5 ml-5 mt-4">
      <div style="height: 65vh; overflow-y: auto">
      <table class="table table-dark mt-2">
        <thead>
        <tr>
          <th scope="col">Currency Symbol</th>
          <th scope="col">Currency Name</th>
        </tr>
        </thead>
        <tbody *ngFor="let each of currencySymbols; let i = index;"
                [class.selected]="each === selectedSymbol"
                (click)="onSelect(each, currencyNames[i].currencyName)">
        <tr class="rows">
          <th scope="row">{{ each }}</th>
          <td>{{ currencyNames[i].currencyName }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    </div>
    <div class="col-md-5 mt-4">
        <div *ngIf="selectedSymbol != null">
            <app-forexchild [defaultC]="defaultCurrency" [currency]="selectedSymbol" [name]="selectedName"></app-forexchild>
        </div>

        <div *ngIf="oldSymbol != null">
            <app-forexchild [defaultC]="defaultCurrency" [currency]="oldSymbol" [name]="oldName"></app-forexchild>
        </div>
      </div>
  </div>
</div>