<div *ngIf="!loggedIn">
  <h1 class="text-center mt-4">Please Login.</h1>
</div>
<div *ngIf="loggedIn">
  <div *ngIf="!isAdmin" >
    <h1 class="mt-4 text-center">File a Report/Offer Feedback</h1>
    <h3 class="mt-4 text-center">Welcome, {{ name }}.</h3>
    <div class="text-center mt-4">
      <img class="mb-4" src="../../assets/images/logocut.png" alt="" width="100" height="100">
    </div>
    <br><br><br><br><br>
    <div class="row">
      <form (submit)="submitReport(reportForm)" #reportForm="ngForm" style="text-align: center; margin-top: 2%">
        <h4 class="h4 mb-3 font-weight-normal">Submit a Report</h4>
        <textarea id="reportComments" name="reportComments" placeholder="Write your report"
                  maxlength="500"></textarea>
        <br>
        <button class="btn btn-lg btn-outline-primary btn-block" type="submit">Submit</button>
      </form>

      <form (submit)="submitFeedback(feedbackForm)" #feedbackForm="ngForm" style="text-align: center; margin-top: 2%">
        <h4 class="h4 mb-3 font-weight-normal">Submit Feedback</h4>
        <textarea id="feedbackComments" name="feedbackComments" placeholder="Write your feedback"
                  maxlength="500"></textarea>
        <br>
        <button class="btn btn-lg btn-outline-primary btn-block" type="submit">Submit</button>
      </form>
    </div>
  </div>
  <div *ngIf="isAdmin" >
    <h1 class="mt-4 text-center">List of Reports and Feedback Submissions</h1>
    <h3 class="mt-4 text-center">Welcome, {{ name }}.</h3>
    <div class="text-center mt-4">
      <img class="mb-4" src="../../assets/images/logocut.png" alt="" width="100" height="100">
    </div>
    <div class="row">

    </div>
  </div>


