<div *ngIf="!loggedIn">
  <h1 class="text-center mt-4">Please Login.</h1>
</div>
<div *ngIf="loggedIn">
  <div *ngIf="!isAdmin" >
    <h1 class="mt-4 text-center">File a Report/Offer Feedback</h1>
    <h3 class="mt-4 text-center">Welcome, {{ name }}.</h3>
    <div class="text-center mt-4">
      <img class="mb-4" src="../../assets/images/logocut.png" alt="" width="100" height="100">
    </div>
    <br><br>

    <div style="text-align: center">
      <h3 class="h3 mb-3 font-weight-normal">Submit a Report</h3>
      <br>
      <label>
        <input type="text" class="DivMessage" placeholder="Write your report..." [(ngModel)]="report">
      </label>
      <br><br><br>
      <button (click)="submitReport()" class="btn btn-primary ml-4">Submit</button>
      <br><br>
    </div>
    <div *ngIf="reportResponse">
      <h4 class="text-center">Report submitted.</h4>
    </div>
    <div *ngIf="reportFail">
      <h4 class="text-center">Could not submit report.</h4>
    </div>
    <br><br>
    <div style="text-align: center">
      <h3 class="h3 mb-3 font-weight-normal">Submit Feedback</h3>
      <br>
      <label>
        <input type="text" class="DivMessage" placeholder="Write your feedback..." [(ngModel)]="feedback">
      </label>
      <br><br><br>
      <button (click)="submitFeedback()" class="btn btn-primary ml-4">Submit</button>
      <br><br>
    </div>
    <div *ngIf="feedbackResponse">
      <h4 class="text-center">Feedback submitted.</h4>
    </div>
    <div *ngIf="feedbackFail">
      <h4 class="text-center">Could not submit feedback.</h4>
    </div>

  </div>
</div>
<div *ngIf="isAdmin" >
  <h1 class="mt-4 text-center">List of Reports and Feedback Submissions</h1>
  <h3 class="mt-4 text-center">Welcome, {{ name }}.</h3>
  <div class="text-center mt-4">
    <img class="mb-4" src="../../assets/images/logocut.png" alt="" width="100" height="100">
  </div>
  <div >
    <table class="table table-dark table-striped">
      <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Report</th>
      </tr>
      </thead>
      <tbody *ngFor="let each of reportsArray">
      <tr class="rows">
        <th scope="row">{{ each[0].username }}</th>
        <td>{{ each[0].report }}</td>
      </tr>
      </tbody>
    </table>
    <table class="table table-dark table-striped">
      <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Feedback</th>
      </tr>
      </thead>
      <tbody *ngFor="let each of feedbackArray">
      <tr class="rows">
        <th scope="row">{{ each[0].username }}</th>
        <td>{{ each[0].feedback }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>



