<h1 class="mt-4 text-center">Stocks</h1>
<body>

</body>
    <table class="table table-dark col-sm-5 ml-5 mt-2" >
        <thead>
            <tr>
                <th scope="col"><a style="color: red">Top Stocks</a></th>
                <th scope="col">Top Gains</th>
                <th scope="col">Top Losses</th>
                <th scope="col">Following</th>
            </tr>
        </thead>
    </table>
    <table class="table table-dark col-sm-5 ml-5 mt-2">
        <thead>
        <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
        </tr>
        </thead>
        <tbody *ngFor="let each of inFocus"
        [class.selected]="each === selectedStock"
        (click)="onSelect(each)">
        <tr>
            <th scope="row">{{ each.symbol }}</th>
            <td>{{ each.companyName }}</td>
            <td>${{ each.delayedPrice }}</td>
        </tr>
        </tbody>
    </table>
    <!--<div ng-app="" id="chart-container" align = "right">

    
    <fusioncharts
    width="700"
    height="400"
    type="line"
    [dataSource]="dataSource">
</fusioncharts> 
</div> -->
<button (click)="setTime('LIVE')"></button>
<button (click)="setTime('1m')"></button>
<button (click)="setTime('1d')"></button>
<button (click)="setTime('1y')"></button>
<button (click)="setTime('5y')"></button>

<div *ngIf="selectedStock != null">
    XXX
        <app-chart [stock]="selectedStock" [time]="selectedTime"></app-chart>
</div>