<h1 class="mt-4 text-center">Stocks</h1>

<div class="container">
<div class="row">

    <div class="col-md-6">
<table class="table table-dark mt-2">
    <thead>
        <tr>
            <th class="pointer" (click)="showSelector(1); reloadStocks()" scope="col">Top Stocks</th>
            <th class="pointer" (click)="showSelector(2); reloadStocks()" scope="col">Top Gains</th>
            <th class="pointer" (click)="showSelector(3); reloadStocks()" scope="col">Top Losses</th>
            <th class="pointer" (click)="showSelector(4); reloadStocks()" scope="col">Following</th>
        </tr>
    </thead>
</table>

<div *ngIf="show == 1">
  <div *ngIf="inFocusErrorMessage !== ''">{{ inFocusErrorMessage }}</div>
  <table class="table table-dark mt-2">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody *ngFor="let each of inFocus"
        [class.selected]="each === selectedStock"
        (click)="onSelect(each)">
        <tr class="rows">
            <th scope="row">{{ each.symbol }}</th>
            <td>{{ each.companyName }}</td>
            <td>${{ each.delayedPrice }}</td>
        </tr>
        </tbody>
    </table>
</div>

<div *ngIf="show == 2">
  <div *ngIf="gainerErrorMessage !== ''">{{ gainerErrorMessage }}</div>
  <table class="table table-dark mt-2">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody *ngFor="let each of gainers"
        [class.selected]="each === selectedStock"
        (click)="onSelect(each)">
            <tr class="rows">
                <th scope="row">{{ each.symbol }}</th>
                <td>{{ each.companyName }}</td>
                <td>${{ each.delayedPrice }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="show == 3">
  <div *ngIf="loserErrorMessage !== ''">{{ loserErrorMessage }}</div>
  <table class="table table-dark mt-2">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody *ngFor="let each of losers"
               [class.selected]="each === selectedStock"
        (click)="onSelect(each)">
            <tr class="rows">
                <th scope="row">{{ each.symbol }}</th>
                <td>{{ each.companyName }}</td>
                <td>${{ each.delayedPrice }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="following !== undefined && following.length !== 0">
<div *ngIf="show == 4">
  <div *ngIf="followingErrorMessage !== ''">{{ followingErrorMessage }}</div>
  <table class="table table-dark mt-2">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Unfollow</th>
            </tr>
        </thead>
            <tbody *ngFor="let each of following"
                [class.selected]="each === selectedStock"
            (click)="onSelect(each)">
                <tr class="rows">
                    <th scope="row">{{ each.symbol }}</th>
                    <td>{{ each.companyName }}</td>
                    <td>${{ each.delayedPrice }}</td>
                    <td class="text-center"><button (click)="unfollowStock(each.symbol); reloadStocks(); showSelector(4)" class="btn btn-danger">-</button></td>
                </tr>
            </tbody>
    </table>
</div>
</div>
<div *ngIf="(following == undefined || following.length === 0)">
        <div *ngIf="show == 4">
            <h2 class="text-center">Follow some stocks first!</h2>
            </div>
    </div>
</div>



<div class="col-md-6 text-center">
<button class="btn btn-danger mt-3 mr-2 mb-4" (click)="setTime('1d')" >Current</button>
<button class="btn btn-primary mt-3 mr-2 mb-4" (click)="setTime('1m')" >Month</button>
<button class="btn btn-success mt-3 mr-2 mb-4" (click)="setTime('1y')">Year</button>
<button class="btn btn-warning mt-3 mr-2 mb-4" (click)="setTime('5y')">5 Years</button>

<div *ngIf="selectedStock != null && selectedTime == '1m'">
        <app-chart [stock]="selectedStock" [time]="selectedTime"></app-chart>
</div>

<div *ngIf="selectedStock != null && selectedTime == '1y'">
    <app-chart [stock]="selectedStock" [time]="selectedTime"></app-chart>
</div>

<div *ngIf="selectedStock != null && selectedTime == '5y'">
    <app-chart [stock]="selectedStock" [time]="selectedTime"></app-chart>
</div>


<div *ngIf="selectedTime == '1d' && selectedStock != null" style="color:green; font-size: 40px">
    <app-chart [stock]="selectedStock" [time]="selectedTime"></app-chart>
</div>

<!---------------------------------------------------------------------->

<div *ngIf="oldStock != null && selectedTime == '1m'">
    <app-chart [stock]="oldStock" [time]="selectedTime"></app-chart>
</div>

<div *ngIf="oldStock != null && selectedTime == '1y'">
<app-chart [stock]="oldStock" [time]="selectedTime"></app-chart>
</div>

<div *ngIf="oldStock != null && selectedTime == '5y'">
<app-chart [stock]="oldStock" [time]="selectedTime"></app-chart>
</div>


<div *ngIf="selectedTime == '1d' && oldStock != null" style="color:green; font-size: 40px">
<app-chart [stock]="oldStock" [time]="selectedTime"></app-chart>
</div>


</div>
</div>
</div>