.pointer:hover {
    cursor: pointer;
    text-decoration: underline;
}

.rows:hover {
    cursor: pointer;
    background-color: greenyellow;
    color: black;
}
.shown {
    background-color: black;
    color: red;
}