<h1 class="mt-4 text-center">Stocks</h1>
{{ errorMessage }}
<table class="table table-dark col-sm-5 ml-5 mt-2">
    <thead>
        <tr>
            <th class="pointer" (click)="showSelector(1)" scope="col">Top Stocks</th>
            <th class="pointer" (click)="showSelector(2)" scope="col">Top Gains</th>
            <th class="pointer" (click)="showSelector(3)" scope="col">Top Losses</th>
            <th class="pointer" (click)="showSelector(4)" scope="col">Following</th>
        </tr>
    </thead>
</table>
<div *ngIf="show == 1">
    <table class="table table-dark col-sm-5 ml-5 mt-2">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody *ngFor="let each of inFocus">
            <tr class="rows">
                <th scope="row">{{ each.symbol }}</th>
                <td>{{ each.companyName }}</td>
                <td>${{ each.delayedPrice }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="show == 2">
    <table class="table table-dark col-sm-5 ml-5 mt-2">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody *ngFor="let each of gainers">
            <tr class="rows">
                <th scope="row">{{ each.symbol }}</th>
                <td>{{ each.companyName }}</td>
                <td>${{ each.delayedPrice }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="show == 3">
    <table class="table table-dark col-sm-5 ml-5 mt-2">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody *ngFor="let each of losers">
            <tr class="rows">
                <th scope="row">{{ each.symbol }}</th>
                <td>{{ each.companyName }}</td>
                <td>${{ each.delayedPrice }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="show == 4">
    <div *ngIf="errorMessage !== ''">{{ errorMessage }}</div>
    <table class="table table-dark col-sm-5 ml-5 mt-2">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody *ngFor="let each of following">
            <tr class="rows">
                <th scope="row">{{ each.symbol }}</th>
                <td>{{ each.companyName }}</td>
                <td>${{ each.delayedPrice }}</td>
            </tr>
        </tbody>
    </table>
</div>