<form class="form-signin" style="text-align: center; margin-top: 5%">
  <img class="mb-4" src="../../assets/images/logocut.png" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Welcome to Stockmon</h1>
  <label for="inputName" class="sr-only">Full Name</label>
  <input type="name" id="inputEmail" class="form-control" placeholder="Full Name" required autofocus>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control mt-2" placeholder="Password" required>
  <label for="confirmPassword" class="sr-only">Confirm Password</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Confirm Password" required>
  <div class="checkbox mb-3">
    <label>
      <input class="mt-4" type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-outline-danger btn-block" type="submit">Register</button>
  <p class="mt-4">Already have an account? <a routerLink="/signin" class="text-primary">Sign in.</a></p>
  <p class="mt-4 mb-3 text-muted">&copy; 2019</p>
</form>